In [1]:
import pandas as pd
import os

In [2]:
FOLDER_PATH = 'data/3rd_재무상태표'

In [3]:
file_list = os.listdir(FOLDER_PATH)

In [4]:
class company_prerocessing():
    
    def __init__(self, cmp_list):
        self.cmp_list = cmp_list
        PATH = os.path.join(FOLDER_PATH, self.cmp_list)
        
        df = self.open_df(PATH)
        self.bs_preprocessing(df, self.cmp_list[:-13])

    def open_df(self, PATH):
        df = pd.read_csv(PATH)

        return df

    def bs_preprocessing(self, df_bs, cmp_list):
        try:
            if df_bs.columns[6].isdigit() == True:
                df_bs_1 = df_bs.iloc[:, [1, 6, 7, 8]]
            elif df_bs.columns[7].isdigit() == True:
                df_bs_1 = df_bs.iloc[:, [1, 7, 8, 9]]
            else:
                df_bs_1 = df_bs.iloc[:, [1, 8, 9, 10]]
        except:
            df_bs_1 = df_bs.iloc[:, 0:4]
            
        df_bs_1.columns = ['', df_bs_1.columns[1][0], df_bs_1.columns[2][0], df_bs_1.columns[3][0]]
        df_bs_1 = df_bs_1.T
        df_bs_1.columns = df_bs_1.columns.astype('object')
        
        for i in range(len(df_bs_1.columns)):
            df_bs_1.columns.values[i] = df_bs_1.iloc[0, :][i]
        
        df_bs_1.reset_index(inplace=True)
        df_bs_1.drop(0, inplace=True)
        
        try:
            if df_bs.columns[6].isdigit() == True:
                for i in range(3):
                    df_bs_1.iloc[i, 0] = df_bs.columns.values[i+6]
            elif df_bs.columns[7].isdigit() == True:
                for i in range(3):
                    df_bs_1.iloc[i, 0] = df_bs.columns.values[i+7]
            else:
                for i in range(3):
                    df_bs_1.iloc[i, 0] = df_bs.columns.values[i+8]
        except:
            for i in range(3):
                df_bs_1.iloc[i, 0] = df_bs.columns.values[i+1]
            
        df_bs_1 = df_bs_1.reset_index().rename(columns={'index': 'date'})
        df_bs_1.drop(['level_0', 'label_ko'], axis=1, inplace=True)
        
        df_bs_1['company'] = cmp_list
        print('bs_preprocessing complete')
        
        df_bs_1.to_csv('data/test '+cmp_list+'.csv')
#         return df_bs_1

    
    def total_dataframe(self, df_cis_1, df_bs_1, df_cf_1, cmp_list):
        data_total = pd.merge(df_cis_1, df_bs_1, on='date')
        data_total = pd.merge(data_total, df_cf_1, on='date')
        data_total.to_csv('data/total/' + cmp_list + ' total.csv', index=False)

        return data_total

In [5]:
file_list

['금강제강 재무상태표 원본.csv',
 '데코앤이 재무상태표 원본.csv',
 '미주제강 재무상태표 원본.csv',
 '배명금속 재무상태표 원본.csv',
 '서통 재무상태표 원본.csv',
 '신텍 재무상태표 원본.csv',
 '카라반케이디이 재무상태표 원본.csv',
 '풍림산업 재무상태표 원본.csv',
 '피어리스 재무상태표 원본.csv']

In [6]:
if '__main__' == __name__:
    
    for cmp_list in file_list:
        company_prerocessing(cmp_list)

bs_preprocessing complete
bs_preprocessing complete
bs_preprocessing complete
bs_preprocessing complete
bs_preprocessing complete
bs_preprocessing complete
bs_preprocessing complete
bs_preprocessing complete
bs_preprocessing complete

In [311]:
file_list[4]

'서통 재무상태표 원본.csv'

In [333]:
df = company_prerocessing.open_df(os.path.join(FOLDER_PATH , file_list[8]))
print(file_list[8])
df.head()

피어리스 재무상태표 원본.csv

,Statement of financial position(Unit: KWR),20001231,19991231,19981231,19971231
0,label_ko,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,자산,NaN,NaN,NaN,NaN
2,Ⅰ.유동자산,14526935704.0,25793829836.0,-27688728526.0,-52850714874.0
3,(1)당좌자산,5725300619.0,12098933813.0,-13362983153.0,-31025420052.0
4,1.현금및현금등가물,932138789.0,2436863404.0,NaN,NaN

In [313]:
df_bs_1 = df.iloc[:, 0:4]

In [314]:
df_bs_1.head()

,Statement of financial position(Unit: KWR),20021231,20011231,20001231
0,label_ko,"('연결재무제표',)","('연결재무제표',)","('연결재무제표',)"
1,자산,NaN,NaN,NaN
2,I.유동자산,83411613517.0,199179476821.0,184978833780.0
3,(1)당좌자산,71507404454.0,172656505566.0,158376271089.0
4,1.현금및현금등가물,3275165581.0,35057486936.0,8008985565.0

In [315]:
df_bs_1.columns = ['', df_bs_1.columns[1][0], df_bs_1.columns[2][0], df_bs_1.columns[3][0]]

In [316]:
df_bs_1

                                  2               2               2
0          label_ko     ('연결재무제표',)     ('연결재무제표',)     ('연결재무제표',)
1                자산             NaN             NaN             NaN
2            I.유동자산   83411613517.0  199179476821.0  184978833780.0
3           (1)당좌자산   71507404454.0  172656505566.0  158376271089.0
4        1.현금및현금등가물    3275165581.0   35057486936.0    8008985565.0
..              ...             ...             ...             ...
101    3.투자유가증권평가이익    5689629648.0   12033741534.0   10568829827.0
102    4.해외사업환산대(차)     624868072.0     448370232.0     441236040.0
103        V.외부주주지분   21093439899.0   28199590640.0   32639970150.0
104            자본총계   39359620903.0  145068969898.0  152815211394.0
105  부채,외부주주지분및자본총계  272614895342.0  463636085124.0  474900262560.0

[106 rows x 4 columns]

In [317]:
df_bs_1 = df_bs_1.T

In [318]:
df_bs_1.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
,label_ko,자산,I.유동자산,(1)당좌자산,1.현금및현금등가물,2.단기금융상품(주석6),3.유가증권,4.매출채권(주석13),대손충당금(주석4),5.단기대여금(주석15),...,8.차기이월이익잉여금,"(연결당기순이익(손실)당기:(-)98,103,755,019전기:2,222,577,864",IV.자본조정,1.전환권대가,2.자기주식(주석16),3.투자유가증권평가이익,4.해외사업환산대(차),V.외부주주지분,자본총계,"부채,외부주주지분및자본총계"
2,"('연결재무제표',)",NaN,83411613517.0,71507404454.0,3275165581.0,22066430651.0,72648894.0,46021927025.0,19865357987.0,6376146785.0,...,-35974934410.0,NaN,-39053507.0,NaN,-6353551227.0,5689629648.0,624868072.0,21093439899.0,39359620903.0,272614895342.0
2,"('연결재무제표',)",NaN,199179476821.0,172656505566.0,35057486936.0,21632399917.0,9647528885.0,65917694747.0,62493540485.0,29119403522.0,...,-28289171209.0,NaN,7287235667.0,NaN,-5194876099.0,12033741534.0,448370232.0,28199590640.0,145068969898.0,463636085124.0
2,"('연결재무제표',)",NaN,184978833780.0,158376271089.0,8008985565.0,29059432089.0,5605516204.0,67818886207.0,65328685467.0,36459653278.0,...,-26238312184.0,NaN,6613356113.0,844666345.0,-5241376099.0,10568829827.0,441236040.0,32639970150.0,152815211394.0,474900262560.0

In [319]:
df_bs_1.columns = df_bs_1.columns.astype('object')

In [320]:
for i in range(len(df_bs_1.columns)):
    
    df_bs_1.columns.values[i] = df_bs_1.iloc[0, :][i]

In [321]:
df_bs_1.reset_index(inplace=True)

In [322]:
df_bs_1

,index,label_ko,자산,I.유동자산,(1)당좌자산,1.현금및현금등가물,2.단기금융상품(주석6),3.유가증권,4.매출채권(주석13),대손충당금(주석4),...,8.차기이월이익잉여금,"(연결당기순이익(손실)당기:(-)98,103,755,019전기:2,222,577,864",IV.자본조정,1.전환권대가,2.자기주식(주석16),3.투자유가증권평가이익,4.해외사업환산대(차),V.외부주주지분,자본총계,"부채,외부주주지분및자본총계"
0,,label_ko,자산,I.유동자산,(1)당좌자산,1.현금및현금등가물,2.단기금융상품(주석6),3.유가증권,4.매출채권(주석13),대손충당금(주석4),...,8.차기이월이익잉여금,"(연결당기순이익(손실)당기:(-)98,103,755,019전기:2,222,577,864",IV.자본조정,1.전환권대가,2.자기주식(주석16),3.투자유가증권평가이익,4.해외사업환산대(차),V.외부주주지분,자본총계,"부채,외부주주지분및자본총계"
1,2,"('연결재무제표',)",NaN,83411613517.0,71507404454.0,3275165581.0,22066430651.0,72648894.0,46021927025.0,19865357987.0,...,-35974934410.0,NaN,-39053507.0,NaN,-6353551227.0,5689629648.0,624868072.0,21093439899.0,39359620903.0,272614895342.0
2,2,"('연결재무제표',)",NaN,199179476821.0,172656505566.0,35057486936.0,21632399917.0,9647528885.0,65917694747.0,62493540485.0,...,-28289171209.0,NaN,7287235667.0,NaN,-5194876099.0,12033741534.0,448370232.0,28199590640.0,145068969898.0,463636085124.0
3,2,"('연결재무제표',)",NaN,184978833780.0,158376271089.0,8008985565.0,29059432089.0,5605516204.0,67818886207.0,65328685467.0,...,-26238312184.0,NaN,6613356113.0,844666345.0,-5241376099.0,10568829827.0,441236040.0,32639970150.0,152815211394.0,474900262560.0

In [323]:
df_bs_1.drop(0, inplace=True)

In [324]:
df_bs_1.head()

,index,label_ko,자산,I.유동자산,(1)당좌자산,1.현금및현금등가물,2.단기금융상품(주석6),3.유가증권,4.매출채권(주석13),대손충당금(주석4),...,8.차기이월이익잉여금,"(연결당기순이익(손실)당기:(-)98,103,755,019전기:2,222,577,864",IV.자본조정,1.전환권대가,2.자기주식(주석16),3.투자유가증권평가이익,4.해외사업환산대(차),V.외부주주지분,자본총계,"부채,외부주주지분및자본총계"
1,2,"('연결재무제표',)",NaN,83411613517.0,71507404454.0,3275165581.0,22066430651.0,72648894.0,46021927025.0,19865357987.0,...,-35974934410.0,NaN,-39053507.0,NaN,-6353551227.0,5689629648.0,624868072.0,21093439899.0,39359620903.0,272614895342.0
2,2,"('연결재무제표',)",NaN,199179476821.0,172656505566.0,35057486936.0,21632399917.0,9647528885.0,65917694747.0,62493540485.0,...,-28289171209.0,NaN,7287235667.0,NaN,-5194876099.0,12033741534.0,448370232.0,28199590640.0,145068969898.0,463636085124.0
3,2,"('연결재무제표',)",NaN,184978833780.0,158376271089.0,8008985565.0,29059432089.0,5605516204.0,67818886207.0,65328685467.0,...,-26238312184.0,NaN,6613356113.0,844666345.0,-5241376099.0,10568829827.0,441236040.0,32639970150.0,152815211394.0,474900262560.0

In [307]:
df_bs_1.iloc[1, 0]

'2'

In [327]:
df.columns.values[1]

'20021231'

In [328]:
df_bs_1.iloc[0, 0] = df.columns.values[1]
df_bs_1.iloc[1, 0] = df.columns.values[2]
df_bs_1.iloc[2, 0] = df.columns.values[3]

In [310]:
df_bs_1

,index,label_ko,자산,I.유동자산,(1)당좌자산,1.현금및현금등가물,2.단기금융상품(주석6),3.유가증권,4.매출채권(주석13),대손충당금(주석4),...,8.차기이월이익잉여금,"(연결당기순이익(손실)당기:(-)98,103,755,019전기:2,222,577,864",IV.자본조정,1.전환권대가,2.자기주식(주석16),3.투자유가증권평가이익,4.해외사업환산대(차),V.외부주주지분,자본총계,"부채,외부주주지분및자본총계"
1,20021231,"('연결재무제표',)",NaN,83411613517.0,71507404454.0,3275165581.0,22066430651.0,72648894.0,46021927025.0,19865357987.0,...,-35974934410.0,NaN,-39053507.0,NaN,-6353551227.0,5689629648.0,624868072.0,21093439899.0,39359620903.0,272614895342.0
2,20011231,"('연결재무제표',)",NaN,199179476821.0,172656505566.0,35057486936.0,21632399917.0,9647528885.0,65917694747.0,62493540485.0,...,-28289171209.0,NaN,7287235667.0,NaN,-5194876099.0,12033741534.0,448370232.0,28199590640.0,145068969898.0,463636085124.0
3,20001231,"('연결재무제표',)",NaN,184978833780.0,158376271089.0,8008985565.0,29059432089.0,5605516204.0,67818886207.0,65328685467.0,...,-26238312184.0,NaN,6613356113.0,844666345.0,-5241376099.0,10568829827.0,441236040.0,32639970150.0,152815211394.0,474900262560.0

In [229]:
# df_bs_1 = df_bs_1.rename(columns=df_bs_1.iloc[0])
# df_bs_1 = df_bs_1.drop(df_bs_1.index[0])
df_bs_1 = df_bs_1.reset_index().rename(columns={'index': 'date'})

In [230]:
df_bs_1.drop(['level_0', 'label_ko'], axis=1, inplace=True)

In [231]:
df_bs_1

,date,자산,I.유동자산,(1)당좌자산,1.현금및현금등가물,2.단기금융상품(주석6),3.유가증권,4.매출채권(주석13),대손충당금(주석4),5.단기대여금(주석15),...,8.차기이월이익잉여금,"(연결당기순이익(손실)당기:(-)98,103,755,019전기:2,222,577,864",IV.자본조정,1.전환권대가,2.자기주식(주석16),3.투자유가증권평가이익,4.해외사업환산대(차),V.외부주주지분,자본총계,"부채,외부주주지분및자본총계"
0,20021231,NaN,83411613517.0,71507404454.0,3275165581.0,22066430651.0,72648894.0,46021927025.0,19865357987.0,6376146785.0,...,-35974934410.0,NaN,-39053507.0,NaN,-6353551227.0,5689629648.0,624868072.0,21093439899.0,39359620903.0,272614895342.0
1,20011231,NaN,199179476821.0,172656505566.0,35057486936.0,21632399917.0,9647528885.0,65917694747.0,62493540485.0,29119403522.0,...,-28289171209.0,NaN,7287235667.0,NaN,-5194876099.0,12033741534.0,448370232.0,28199590640.0,145068969898.0,463636085124.0
2,20001231,NaN,184978833780.0,158376271089.0,8008985565.0,29059432089.0,5605516204.0,67818886207.0,65328685467.0,36459653278.0,...,-26238312184.0,NaN,6613356113.0,844666345.0,-5241376099.0,10568829827.0,441236040.0,32639970150.0,152815211394.0,474900262560.0