In [123]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [21]:
driver = webdriver.Chrome('D:/workspace/chromedriver')
driver.implicitly_wait(3)
driver.get('https://www.knote.kr/qryDangjwaStop.do')
driver.find_element_by_xpath('//*[@id="sort_02"]').click()
driver.find_element_by_name('beginYear').send_keys('2018')
driver.find_element_by_name('beginMonth').send_keys('1')
driver.find_element_by_name('beginDay').send_keys('1')
driver.find_element_by_name('endYear').send_keys('2019')
driver.find_element_by_name('endMonth').send_keys('12')
driver.find_element_by_name('endDay').send_keys('31')
driver.find_element_by_xpath('//*[@class="btn_ty4"]').click()
html = driver.page_source

In [70]:
soup = BeautifulSoup(html, 'html.parser')
source = soup.select('tbody > tr > td')
comp_name = source
date = source

In [119]:
name_list = []
date_list = []

name_num = 4
date_num = 7

count = 0
for li in range(len(source)):
    if li == name_num:
        name_list.append(comp_name[name_num].text)
        name_num += 5
    if li == date_num:
        date_list.append(date[date_num].text)
        date_num += 5
    else:
        pass

In [171]:
print(len(source), len(name_list), len(date_list))

2903 580 580

In [167]:
bankrup = pd.DataFrame(data = list(zip(name_list, date_list)), columns = ['company', 'date'])
bankrup.head()

                       company      date
0    (유)동해건업                    20190403
1      (유)부강산업개발                20181017
2      (유)세일디앤아이                20190110
3  (유)장수                        20181107
4            (의)서구의료재단여수성심병원    20191204

In [168]:
bankrup = bankrup.loc[bankrup['company'] != ' '].reset_index(drop=True)

In [169]:
bankrup

                          company      date
0       (유)동해건업                    20190403
1         (유)부강산업개발                20181017
2         (유)세일디앤아이                20190110
3     (유)장수                        20181107
4               (의)서구의료재단여수성심병원    20191204
..                            ...       ...
434        홍익엔지니어링(주)              20190402
435     홍주실업(주)                    20181024
436     화신산업(주)                    20191126
437       효진종합건설(주)                20181204
438  JS무역                          20180907

[439 rows x 2 columns]

In [170]:
bankrup.to_csv("data/bankrup_list.csv",index = False)